ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
}

li {
    float: left;
    margin-right: 1.2em;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#copyright{
    position: relative;
    bottom:0px;
    margin-top: 3%;
    height: 50px;
    width: 100%;
    background-color: #555;

}
#copyright_p{
    position: relative;
    margin-right: 5%;
    color: #DDD;
    float: right;
}

#logo_head {
    margin-top: -30px;
    margin-bottom: -5px;
}
