<h2 id="extra_head">Here you can add a new show</h2>

<!--<button (click)="addShow()">Add New Show</button>-->
<!--<div *ngIf="addingShow">
    <my-show-detail *ngIf="!selectedShow" (close)="close($event)"></my-show-detail>



</div>-->
<div id="addShow_grey" *ngIf="addingShow" >
    <div id="inner_addShow">

            <h3>Edit Show</h3>
        <div>
            <label>id: </label>{{show.id}}
        </div>
        <div>
            <label>name: </label>
            <input [(ngModel)]="show.name" placeholder="name"/>
        </div>
        <div>
            <label>genre: </label>
            <input [(ngModel)]="show.genre" placeholder="genre"/>
        </div>
        <div>
            <label>support: </label>
            <input [(ngModel)]="show.support" placeholder="support"/>
        </div>
        <div>
            <label>venue: </label>
            <input [(ngModel)]="show.venue" placeholder="venue"/>
        </div>
        <div>

            <label>date: </label>
            <input [(ngModel)]="show.date"/>
        </div>
        <div>
            <label>time: </label>
            <input [(ngModel)]="show.time" placeholder="time"/>
        </div>
        <div>
            <label>address: </label>
            <input [(ngModel)]="show.address" placeholder="Berlin, Germany"/>
        </div>
            <button (click)="save()" >Save</button>




    </div>
</div>
<div *ngIf="addingShow == false">
        <button  (click)="addShow()" >Another Show</button>
</div>