<h2>Map</h2>
<!-- API SCHLUESSEL "AIzaSyD8AJcFWCcvuLGT0mUjaUUJC6uKYy1-c9c" NICHT LÖSCHEN -->

<!--<div id="map" style="height: 600px; width: 800px;" *ngIF="initMap()"></div>-->

<!--
<sebm-google-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="mapClicked($event)">

    <sebm-google-map-marker
            *ngFor="let m of markers; let i = index"
            (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [markerDraggable]="m.draggable"
            (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
            <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>

    </sebm-google-map-marker>

    <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"
                            [radius]="5000"
                            [fillColor]="'red'"
                            [circleDraggable]="true"
                            [editable]="true">
    </sebm-google-map-circle>

</sebm-google-map>-->

<!--
<div>
    <ul>
        <li>
            <span>All Berlin Venues</span>
        </li>
        <li>
            &lt;!&ndash;<img src="../images/bspmap.jpg">&ndash;&gt;
        </li>
    </ul>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.8256610515086!2d13.419913016012075!3d52.50039534543399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e345f157c27%3A0x3e57a93e13cd2a78!2sSO+36!5e0!3m2!1sen!2sde!4v1467190269850" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>


</div>-->