<!--<h1>{{title}}</h1>-->
<img id="logo_head" src="../images/logo_head.jpg">
<nav >
    <ul>
        <li >
            <span><a [routerLink]="['/event-list']">Eventlist</a></span>
        </li>
        <li>
            <span><a [routerLink]="['/addShow']" >Add Show</a></span>
        </li>
        <li>
            <span><a [routerLink]="['/map']">Maps</a></span>
        </li>
        <li>
            <span><a [routerLink]="['/calendar']">Calendar</a></span>
        </li>
        <li>
            <span><a [routerLink]="['/venues']">Venues</a></span>
        </li>
    </ul>

</nav>
<router-outlet></router-outlet>

<div id="copyright">
    <p id="copyright_p">copyright by Jorge and Joerg</p>
</div>