<h2>My Shows</h2>

<div id="authorize-div">
    <span>Authorize access to Google Calendar API</span>

    <!--Button for the user to click to initiate auth sequence -->
    <img class="logo" (click)="handleAuthClick(event)" src="/app/google_signin.png"/>
</div>

<ul class="shows">
    <li *ngFor="let show of shows" class="items"
        [class.selected]="show === selectedShow"
        (click)="onSelect(show)">

        <span class="badge">{{show.id}}</span> {{show.name}}
         - {{ show.venue }} - {{ show.date | stringToDate | date:'dd/MM/yyyy' }}, {{ show.time }}

        <div  style="float: right;">
            <google-calendar [show]="show">Load GoogleCal</google-calendar>
        </div>

    </li>
</ul>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div id="show_map" *ngIf="selectedShow">
    <h2>GoogleMaps : {{ title }}</h2>
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="12">
        <sebm-google-map-marker
                *ngFor="let show of shows; let i = index"
                [latitude]="selectedShow.address_lat"
                [longitude]="selectedShow.address_lng"
                [markerDraggable]="true">

            <sebm-google-map-info-window>
                <strong>{{show.address}}</strong>
            </sebm-google-map-info-window>


        </sebm-google-map-marker>
    </sebm-google-map>
</div>


<!-- Now in own component
<button (click)="addShow()">Add New Show</button>
<div *ngIf="addingShow">
    <my-show-detail *ngIf="!selectedShow" (close)="close($event)"></my-show-detail>
</div>
-->
<my-show-detail *ngIf="selectedShow" [show]="selectedShow" (close)="close($event)">Loading details</my-show-detail>