<h1>{{title}}</h1>

<nav >
    <ul>
        <li >
            <span><a [routerLink]="['/event-list']">Eventlist</a></span>
        </li>
        <li>
            <span><a [routerLink]="['/event-list']">Add Show</a></span>
        </li>
        <li>
            <span><a [routerLink]="['/map']">Maps</a></span>
        </li>
        <li>
            <span><a [routerLink]="['/event-list']">Calender</a></span>
        </li>
        <li>
            <span><a [routerLink]="['/event-list']">Venues</a></span>
        </li>
    </ul>

</nav>
<router-outlet></router-outlet>