<div *ngIf="show" id="detail_show">
    <h2>{{show.name}} details!</h2>
    <h3>
        edit
    </h3>


    <div><label>id: </label>{{show.id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="show.name" placeholder="name"/>
    </div>
    <div>
        <label>genre: </label>
        <input [(ngModel)]="show.genre" placeholder="genre"/>
    </div>
    <div>
        <label>support: </label>
        <input [(ngModel)]="show.support" placeholder="support"/>
    </div>
    <div>
        <label>date: </label>
        <input [(ngModel)]="show.date"/>
        {{ show.date | stringToDate | date:'shortDate' }}
    </div>
    <div>
        <label>time: </label>
        <input [(ngModel)]="show.time" placeholder="time"/>
    </div>
    <div>
        <label>address: </label>
        <input [(ngModel)]="show.address" placeholder="Berlin, Germany"/>
    </div>
    <div>
        <label>lat: </label>
        <input [(ngModel)]="show.address_lat" placeholder="52.52000659999999"/>
    </div>
    <div>
        <label>lng: </label>
        <input [(ngModel)]="show.address_lng" placeholder="13.404954"/>
    </div>

    <button (click)="save()">Save</button>
</div>