<div *ngIf="show" id="detail_show">
    <h2>{{show.name}}!</h2>

    <button (click)="change()">Change View</button>

    <div id="show-edit" [hidden]="changeShow">

        <h3>Edit Show</h3>
        <div>
            <label>id: </label>{{show.id}}
        </div>
        <div>
            <label>name: </label>
            <input [(ngModel)]="show.name" placeholder="name"/>
        </div>
        <div>
            <label>genre: </label>
            <input [(ngModel)]="show.genre" placeholder="genre"/>
        </div>
        <div>
            <label>support: </label>
            <input [(ngModel)]="show.support" placeholder="support"/>
        </div>
        <div>
            <label>venue: </label>
            <input [(ngModel)]="show.venue" placeholder="venue"/>
        </div>
        <div>

            <label>date: </label>
            <input [(ngModel)]="show.date"/>
        </div>
        <div>
            <label>time: </label>
            <input [(ngModel)]="show.time" placeholder="time"/>
        </div>
        <div>
            <label>address: </label>
            <input [(ngModel)]="show.address" placeholder="Berlin, Germany"/>
        </div>
        <button (click)="save()">Save</button>
        <button style="float: left;" class="delete-button" (click)="delete(show, $event)">Delete</button>
    </div>


    <div id="show-view" [hidden]="!changeShow">
        <div id="show-view-inside">
            <h3>Show</h3>
            <div>
                <label>id: </label>{{show.id}}
            </div>
            <div>
                <label>name: </label>
                <span> {{show.name}} </span>
            </div>
            <div>
                <label>genre: </label>
                <span> {{show.genre}} </span>
            </div>
            <div>
                <label>support: </label>
                <span> {{show.support}} </span>
            </div>
            <div>
                <label>venue: </label>
                <span> {{show.venue}} </span>
            </div>
            <div>
                <label>date: </label>
                <span> {{ show.date | stringToDate | date:'shortDate' }} </span>
            </div>
            <div>
                <label>time: </label>
                <span> {{ show.time }} </span>
            </div>
            <div>
                <label>address: </label>
                <span> {{ show.address }} </span>
            </div>
        </div>

    </div>


</div>