<h2>All Venues</h2>

<div id="venues">
    <ul class="venues">
        <li *ngFor="let venue of venues" class="items"
            [class.selected]="venue === selectedVenue"
            (click)="onSelect(venue)">

            <span class="badge">{{venue.venue}}</span> {{venue.address}}




        </li>
            <span *ngIf="selectedVenue" id="selected_shows">
                <p>Show in selected Venue:</p>
                <li *ngFor="let show of shows" class="items"
                    [hidden]="show.venue != selectedVenue.venue"
                    (click)="onSelect(venue)">


                    <span class="badge">{{show.name}}</span>
                    - {{ show.date | stringToDate | date:'dd/MM/yyyy' }}, {{ show.time }}
            </span>
    </ul>
</div>

<div id="venue_map" *ngIf="selectedVenue">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="12">
        <sebm-google-map-marker

                *ngFor="let venue of venues; let i = index"
                [latitude]="selectedVenue.address_lat"
                [longitude]="selectedVenue.address_lng"
                [markerDraggable]="true">

            <sebm-google-map-info-window>
                <strong>{{selectedVenue.venue}} | {{selectedVenue.address}}</strong>
            </sebm-google-map-info-window>


        </sebm-google-map-marker>
    </sebm-google-map>
</div>
<br style="clear:left;">